body {
    background-image: linear-gradient(to top right , rgb(56, 31, 31),#444,black);
    min-height: 100vh;
    background-size: cover;
    color: rgb(255, 255, 255);
    padding: 10px;
    font-family: Arial, sans-serif;
}

#all-contents {
    max-height: 40;
    max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: #444
    border-radius: 10px;
    border-style: groove;
    border-color: rgb(94, 76, 24);
    border-width: 15px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

h1 {
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    flex: 1;
    margin: 0;
}

#nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-li {
    text-align: center;
    background-color: #665209;
    padding: 0 10px;
    border-radius: 10px;
    border-style: outset;
    border-color: rgb(115, 94, 25)
}

.nav-li:hover {
    background:#665209;
    border-style: inset;
    border-color: rgb(115, 94, 25);
    border-width: 5px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

/* main container area beneath menu */
main {
    background: rgb(94, 76, 24);
    border-radius: 10px;
    border-style: groove;
    border-color: #444;
    border-width: 15px;
    display: flex;
    margin-top: 20px;
}

.sidebar {
    margin-right: 25px;
    padding: 10px;
}

.sidebar-img {
    border-radius: 10px;
    border-style: inset;
    border-color: #665209;
    border-width: 3px;
    width: 400px;

}

.content {
    border-style: inset;
    border-radius:3px;
    border-color: rgb(115, 94, 25);
    border-width: 5px;
    flex: 1;
    padding: 15px;
}

/* interests section styles */
#interests {
    border-style: outset;
    border-radius:3px;
    border-color: rgb(115, 94, 25);
    border-width: 5px;
    border: 4px rgb(182, 10, 10) ridge;
    padding: 8px;
    margin-top: 20px;
}

h2, h3 {
    margin: 0px;
}

/*Portfolio Styles*/

.content h1 {
    color: rgb(255, 255, 255);
    font-size: 55px;
    background-color: rgb(94, 76, 24);
    border-radius: 10px;
    border-style: outset;
    border-color: #665209;
    border-width: 10px;
}

#platform {
    text-align: center;
    background-color: #444;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-style: outset;
    border-color: #445;
}

#platform:hover {
    background-image: linear-gradient(to bottom left , rgb(56, 31, 31),#444,black);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-style: inset;
}

#box {
    text-align: center;
    background-color: #444;
    border-style: outset;
    border-color: #445;
}

#box:hover {
    background-image: linear-gradient(to bottom left , rgb(56, 31, 31),#444,black);
    border-style: inset;
}

#circle {
    text-align: center;
    background-color: #444;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-style: outset;
    border-color: #445;
}

#circle:hover {
    background-image: linear-gradient(to bottom left , rgb(56, 31, 31),#444,black);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-style: inset;
}

#portfolio {
    list-style-type: none;
    padding-left: 0;
}

#portfolio li {
    background: #ffffff
    padding: 10px;
    border-radius: 10px
    margin-bottom: 10px;
}

#portfolio a {
    text-decoration: none;
    color: #ffffff
}

/*Responsive Web Design*/

@media screen and (min-width: 120px) and (max-width: 1080px) {
    Main{
        height: 100ch;
        zoom: 1.5;
        display: grid;
    }
    h1 {
        font-size: 44px
    }
    h2 {
        font-size: 42px;
    }
    h3 {
        font-size: 36px;
    }
    #all-contents {
        height: 180ch;
        magin: none;
    }
    a {
        font-size: 42px;
    }
    .sidebar {
        margin-right: 0px;
        justify-content: center;
        align-items: center;
    }
    .sidebar-img {
        width: 100%;
      }
    
    p,
    li {
        font-size: 24px;
    }
    
    .content {
        align-content: center;
        justify-content: center;
    }
}