body {
  margin: 5px;
  background: rgb(94, 76, 24);
}

canvas {
  background-image: linear-gradient(to top right , rgb(56, 31, 31),#444,black);
  margin: 20px;
  border-color: #665209;
  border-width: 30px;
  border-style: inset;

}

img {
  display: none;
}
